<!doctype html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <title>HTML</title>


 
</head>

<body>
  <table class="type11">
    <thead>
      <tr>
        <th scope="cols"></th>
        <th scope="cols"><h1>男</h1></th>
        <th scope="cols"><h1>女</h1></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><h2>호랑이</h2></th>
        <td><%=data[0]%></th>
        <td><%=data[2]%></th>
      </tr>
      <tr>
        <td><h2>코끼리</h2></th>
        <td><%=data[1]%></th>
        <td><%=data[3]%></th>
      </tr>
      <tr>
        <td><h2>합계</h2></th>
        <td><%=data[0]+data[1]%></td>
        <td><%=data[2]+data[3]%></td>
      </tr>
    </tbody>
  </table>

</body>

</html>